[Desktop Entry]
Name=Fllog
GenericName=Amateur Radio Data Encapsulation
Comment=Amateur Radio Communications
Exec=fllog
Icon=fllog
Terminal=false
Type=Application
Categories=Network;HamRadio;
