[Desktop Entry]
Name=Fllog
GenericName=Amateur Radio Log Database Server
Comment=Amateur Radio Communications
Exec=fllog
Icon=fllog
Terminal=false
Type=Application
Categories=Network;HamRadio;
